
.filter {
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.81);
    height: 100%;
    width: 100%;
    justify-content: center;

    .content {
        margin-top: 42px;
        width: 1340px;
        height: 782px;
        background: #040D08;
        border: 3px solid #f2f2f2;
        padding: 34px 90px;

        .cross_name {
            position: relative;

            h2 {
                color: #f2f2f2;
                text-align: center;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 72px;
                margin-bottom: 23px;
            }

            img {
                position: absolute;
                top: 0;
                left: 95%;
            }
        }


        .columns {
            .column {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 100px;


                .brand {
                    margin: 0;

                    .name {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-items: center;
                        //justify-content: center;
                        margin-bottom: 15px;

                        h3 {
                            font-family: "Montserrat", sans-serif;
                            font-weight: 700;
                            font-size: 72px;
                            color: #f2f2f2;
                            margin-bottom: 10px;

                        }

                        img {

                        }
                    }

                    .logo {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 25px;

                        .card {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            width: 202px;
                            //margin-bottom: 35px;
                            p {
                                font-family: "Permanent Marker", sans-serif;
                                font-size: 40px;
                                color: #f2f2f2;
                                text-align: center;
                            }

                            img {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .logo_nike {
                                max-width: 200px;
                                //width: 200px;
                                height: 80px;
                            }

                            .nb_logo {
                                max-width: 200px;
                                //width: 170px;
                                height: 80px;
                            }

                            .asics_logo {
                                max-width: 200px;
                                //width: 190px;
                                height: 80px;
                            }

                            .vans_logo {

                                max-width: 200px;
                                //width: 164px;
                                height: 80px;
                            }

                            .salomon_logo {
                                max-width: 200px;
                                //width: 200px;
                                height: 80px;
                            }

                            .logo_adidas {
                                max-width: 200px;
                                //width: 156px;
                                height: 80px;
                            }
                        }
                    }

                    .button {
                        display: flex;
                        justify-content: center;
                        margin-top: 44px;

                        button {
                            position: relative;
                            z-index: 20;
                            background: #040D08;
                            border: 2px solid #f2f2f2;
                            //padding: 17px 23px;
                            height: 60px;
                            width: 245px;

                            p {
                                font-family: "Montserrat", sans-serif;
                                font-weight: 700;
                                font-size: 20px;
                                color: #f2f2f2;
                            }
                        }

                        .an {
                            position: absolute;
                            z-index: 10;
                            transform: translate(3px, 3px);
                            height: 60px;
                            width: 245px;
                            border: 2px solid #f2f2f2;
                        }
                    }

                }

                .size_price {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .size {
                        .name {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 15px;

                            h3 {
                                font-family: "Montserrat", sans-serif;
                                font-weight: 700;
                                font-size: 72px;
                                color: #f2f2f2;
                                margin-bottom: 10px;

                            }

                            img {

                            }
                        }

                        .sizes {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            grid-gap: 5px;


                            div {
                                width: 100px;
                                height: 55px;
                                background: #040D08;
                                border: 3px solid #f2f2f2;
                                transition: 0.3s;

                                p {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 55px;
                                    color: #f2f2f2;

                                    font-family: "Montserrat", sans-serif;
                                    font-weight: 700;
                                    font-size: 35px;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                }

                            }

                            :hover {
                                background: rgba(242, 242, 242, 0.3);
                                transition: 0.3s;
                            }

                            .active {
                                width: 100px;
                                height: 55px;
                                background: #f2f2f2;
                                border: 3px solid #f2f2f2;

                                p {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 55px;
                                    color: #040D08;

                                    font-family: "Montserrat", sans-serif;
                                    font-weight: 700;
                                    font-size: 35px;

                                }
                            }
                        }

                    }
                }

                .price {
                    margin-top: 35px;
                    width: 288px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    //justify-content: center;
                    .name {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 15px;

                        h3 {
                            font-family: "Montserrat", sans-serif;
                            font-weight: 700;
                            font-size: 72px;
                            color: #f2f2f2;
                            margin-bottom: 10px;

                        }
                    }

                    .slide {
                        margin-top: 32px;

                        .from {
                            .text {
                                display: flex;
                                justify-content: space-between;

                                p {
                                    font-family: "Montserrat", sans-serif;
                                    font-weight: 700;
                                    font-size: 36px;
                                    color: #f2f2f2;
                                }

                            }

                            .img {
                                position: relative;

                                .line {
                                    margin-top: 28px;
                                    //position: relative;
                                }

                                .dot {
                                    position: absolute;
                                    top: 20%;
                                    transform: translate(-200px, 0);
                                }
                            }
                        }

                        .to {
                            margin-top: 20px;

                            .text {
                                display: flex;
                                justify-content: space-between;

                                p {
                                    font-family: "Montserrat", sans-serif;
                                    font-weight: 700;
                                    font-size: 36px;
                                    color: #f2f2f2;
                                }

                            }

                            .img {
                                position: relative;

                                .line {
                                    margin-top: 28px;
                                    //position: relative;
                                }

                                .dot {
                                    position: absolute;
                                    top: 20%;
                                    transform: translate(-100px, 0);
                                }
                            }
                        }
                    }
                }
            }

            .season {
                .name {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;

                    h3 {
                        font-family: "Montserrat", sans-serif;
                        font-weight: 700;
                        font-size: 72px;
                        color: #f2f2f2;
                        margin-bottom: 10px;

                    }
                }

                .seasons {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    grid-gap: 25px;

                    .card {

                        .button_card {
                            display: flex;
                            justify-content: center;

                            button {
                                position: relative;
                                z-index: 20;
                                background: #040D08;
                                border: 2px solid #f2f2f2;
                                //padding: 17px 23px;
                                height: 60px;
                                width: 200px;

                                p {
                                    font-family: "Montserrat", sans-serif;
                                    font-weight: 700;
                                    font-size: 32px;
                                    color: #f2f2f2;
                                }
                            }


                        }
                    }
                }

                .button_search {

                    display: flex;


                    button {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 20;
                        background: #040D08;
                        border: 2px solid #f2f2f2;
                        //padding: 17px 23px;
                        height: 70px;
                        width: 230px;


                        p {
                            font-family: "Montserrat", sans-serif;
                            font-weight: 700;
                            font-size: 35px;
                            color: #f2f2f2;
                            margin-right: 5px;
                        }
                        .pc{
                            height: 35px;
                            width: 35px;
                        }
                    }

                    .an {
                        position: absolute;
                        z-index: 10;
                        transform: translate(5px, 5px);
                        height: 70px;
                        width: 230px;
                        border: 2px solid #f2f2f2;
                    }
                }
            }


        }
    }


}

@media (max-width: 1600px) {
    .filter {
        max-height: 500px;
        width: 100vw;
        //overflow: scroll;

        .content {
            //display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            padding: 0 60px;
            margin-top: 0px;
            width: 100vw;
            height: 99.2vh;

            .columns {
                .column {
                    grid-gap: 20px;
                    .brand {
                        .name {
                            h3 {
                                font-weight: 650;
                                font-size: 64px;
                            }

                            img {
                                width: 230px;
                            }
                        }

                        .logo {
                            .card {
                                width: auto;
                                max-width: 160px;

                                p {
                                    font-size: 32px;
                                }

                                .logo_nike {
                                    //width: 160px;
                                    height: 65px;
                                }

                                .nb_logo {
                                    //width: 130px;
                                    height: 65px;

                                }

                                .asics_logo {
                                    height: 65px;
                                }

                                .vans_logo {
                                    height: 65px;

                                }

                                .salomon_logo {
                                    height: 65px;
                                    max-width: 160px;
                                }

                                .logo_adidas {
                                    height: 65px;
                                }
                            }
                        }
                    }
                    .size_price {
                        .size {
                            .name {
                                h3 {
                                    font-weight: 650;
                                    font-size: 64px;
                                }
                                img {
                                    width: 230px;
                                }
                            }
                            .sizes {
                                div {
                                    width: 80px;
                                    height: 40px;
                                    p {
                                        height: 40px;
                                        font-size: 28px;
                                        font-weight: 600;
                                    }
                                }

                                .active {
                                    width: 80px;
                                    height: 40px;
                                    p {
                                        height: 40px;
                                        font-size: 28px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        .price {
                            margin-top: 10px;
                            .name {
                                h3 {
                                    font-weight: 650;
                                    font-size: 64px;
                                }

                                img {
                                    width: 230px;
                                }
                            }
                            .slide {
                                margin-top: 10px;
                                .from {
                                    .text {
                                        p {
                                            //font-weight: 650;
                                            //font-size: 28px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .season{
                        .button_search{
                            margin-top: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 1439px) {
    .filter {
        .content {


            .columns {
                .column {



                }
                .button_search{

                }
            }
        }
    }
}

@media(max-width: 1199px) {
    .filter {
        .content {
            .columns {
                .column {
                    display: flex;

                    .brand {
                        order: 1;
                    }

                    .size_price {
                        order: 3;

                        .size {

                            .sizes {
                                grid-template-columns: repeat(3, 1fr);

                            }
                        }
                    }

                    .season {
                        order: 2;

                    }
                }
            }
        }
    }
}

//@media(max-width: 1110px) {
//    .filter {
//        .content {
//            .columns {
//                .column {
//                    display: grid;
//                    grid-template-columns: auto auto;
//                    .brand{
//                        .logo{
//                            display: grid;
//                            grid-gap: 15px;
//                            //justify-content: center;
//                            align-items: center;
//
//                            .card{
//                                width: 160px;
//                                align-items: center;
//                                justify-content: center;
//                                .logo_nike{
//                                    max-width: 160px;
//                                    height: 60px;
//
//                                }
//                            }
//                        }
//                    }
//                    .size_price {
//                        .size {
//                            .sizes {
//                                grid-template-columns: repeat(3, 1fr);
//
//                            }
//                        }
//                    }
//                }
//            }
//        }
//    }
//}
@media(max-width: 1110px) {
    .filter {
        .content {
            .columns {
                .column {
                    display: grid;
                    grid-template-columns: auto auto;
                    .brand{
                        .logo{
                            display: flex;
                            grid-gap: 15px;
                            //justify-content: center;
                            align-items: center;

                            .card{
                                width: 160px;
                                align-items: center;
                                justify-content: center;
                                .logo_nike{
                                    max-width: 160px;
                                    height: 60px;

                                }
                            }
                        }
                    }
                    .size_price {
                        .size {
                            .sizes {
                                grid-template-columns: repeat(3, 1fr);

                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .filter {
        overflow: scroll;

        .content {
            width: 100vh;
            height: 100%;
            margin-top: 0;

            .cross_name {
                h2 {
                    font-size: 46px;
                }

                img {
                    width: 32px;
                    height: 34px;
                    top: 10%
                }
            }

            .columns {
                .column {
                    grid-gap: 0;

                    .brand {
                        .name {
                            h3 {
                                font-size: 42px;
                            }

                            img {
                                width: 148px;
                            }
                        }
                    }
                }
            }
        }
    }
}
